header{
  height: 10vh;
  display:flex;
  flex-direction:row;
  justify-content:space-between; 
  align-items: center;
  background-color: rgb(41, 20, 65);
  color: white;
}
dl{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  color: black;
  background-color: rgb(41, 20, 65);
}  
a {
  text-decoration: none;
  color: white;
}
#summary1{
  background-color:  rgb(61, 31, 95);
  color: white;
  text-align: center;
  padding-bottom: 40px;
}
#summary {
  display:flex;
  flex-direction:row;
  justify-content: center;
  height: 80vh;
  align-items: center;
  background-color:  rgb(61, 31, 95);
  color: white;
  flex-wrap: wrap;
  font-size: 20px;
}
#profileImage{
    width: 250px;
    border-radius: 400%;
}
#profileImage :hover{
  transition: 0.5s ease 1s; 
  width: 100px;     
}
.button-radius{
  border-radius: 10px ;
  background-color: rgb(227, 150, 246);
  color: black;
  width: 120px;
  height: 40px;
  border-color: white;
  cursor: pointer;
}
.button-radius:hover{
  box-shadow: 2px 2px 2px 2px; 
  width: 80px;
  height: 40px;   
}
.about{
    background-color: rgb(62, 27, 102);
    color: white;
    display: flex;  
    flex-direction: column;
    text-align: center;
    padding-bottom: 130px;
    font-size: 20px;
}
.div{
    border-radius: 20px;
    background-color: rgb(207, 162, 249);
    color: white;
    width: 350px;
    height: 22s0px;
    border: 2px solid rgb(207, 162, 249);
    text-align: center;
    padding-bottom: 40px;
}
.flex{
  display: flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.skill{
  background-color: rgb(61, 31, 95);
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center; 
  padding-bottom: 80px; 
  font-size: 18px;
  padding-top: 50px;
  padding-bottom: 90px;
}
.project{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   flex-wrap: wrap;
   align-items: center;
   margin-bottom: 30px;
   border-radius: 20px;
   background-color: rgb(207, 162, 249);
   color: white;
   width: 250px;
   height: 240px;
   border: 2px solid rgb(207, 162, 249);
   padding-left: 80px;
   padding-right: 80px;
   padding-bottom: 220px;
   font-size: 17px;
}
.grid{
  display: grid;
  grid-template-columns: 40% 40%;
  padding-left: 300px;
  
}
.button-radius1{
    border-radius: 10px ;
    background-color: rgb(207, 162, 249);
    color: rgb(11, 11, 11);
    width: 300px;
    height: 50px;
    border-color: white;
    justify-content:space-evenly;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 20px;
}
.button-radius2{
    border-radius: 10px ;
    background-color: rgb(207, 162, 249);
    color:white;
    width: 300px;
    height: 50px;
    border-color: white;
    justify-content:space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.message{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   flex-wrap: wrap;
   align-items: center;
   margin-bottom: 30px;
   border-radius: 20px;
   background-color: rgb(219, 197, 240);
   color:black;
   width: 350px;
   height: 400px;
   border: 2px solid rgb(207, 162, 249);
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 40px;
}
.footer{
  background-color:  rgb(62, 27, 102);
  color: white;
  display: flex;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;
}
.icon{
  border-radius: 20px;
  background-color: rgb(207, 162, 249);
  color: black;
  width: 30px;
  height: 30px;
  border: 2px solid rgb(207, 162, 249);
  text-align: center;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}